
body {
  background-color: ivory;

}

header {
  text-align: left;
  font-weight: 800;
  font-size: 28px;
  border-bottom: solid 3px palevioletred;
  display: flex;
  justify-content: space-between;
}

div{
  background-color:palevioletred;
  margin: auto;
  width: 50%;
}
#mini{
  font-size: 15px;
  background-color: ivory;
  color: palevioletred;

}
#head{
margin:auto;
width: 80%;
}
p{
    font-size:15px;
    margin-left: auto;
    margin-right: auto;
    width: 25em
}

form {
  margin:0 auto;
  width:300px;
}
input {
  margin-bottom:3px;
  padding:10px;
  width: 100%;
  border:1px solid #CCC
}
button {
  padding:10px
}
label {
  cursor:pointer
}
#form-switch {
  display:none
}
#register-form {
  display:none
}
#form-switch:checked~#register-form {
  display:block
}
#form-switch:checked~#login-form {
  display:none
}

